
body{
background-image: url('https://img.huffingtonpost.com/asset/5f1a00b8270000b10fe674d7.jpeg?cache=vM&ops=1200_630');
background-size:cover;
background-repeat: no-repeat;
} 

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.container{
  width: 80%;
  margin: auto;
}
.personalDetails{
  height: 350px;
  background-color:#ADEFD1FF;
  border-radius: 20px;
  color:#00203FFF;
  text-align: center;
}
.personalDetails h1{
  padding: 15px;
  color:#00203FFF;
}
.eventsCount{
  background-color: #A07855FF;
  color: #D4B996FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 350px;
}
.eventsCount h1{
  font-weight: 800;
  font-size: larger;
}
.eventsDetails{
  
  background-color: #2BAE66FF;
  color: #FCF6F5FF;
  border-radius: 20px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.searchField{
  display: flex;
  justify-content: center;
  margin-bottom:30px ;
  margin-top: 20px;
}
.searchField input{
  padding: 12px 20px;
  border-radius: 10px;
}
a{
  display: block;
}
img{
  width:250px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 7px;
}
.location{
  border-bottom: 1px solid wheat;
}
.location p{
  margin-top: 10px;
  margin-bottom: 0;
}
.errorMsg{
  text-align: center;
}
.noEvents{
  text-align: center;
}
